.label{
    color: #202124;
    letter-spacing: .00625em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    height: 25px;
}