.card{
    width: 300px;
    min-height: 150px;
    margin:5px;
    border-radius: 15px;
    // .iconlist{
    //     display: none;
    // }
}

.card-list{
    width: 800px;
    min-height: 150px;
    margin: 8px;
    border-radius: 15px;
    .description,.inputTitle{
        width:730px
    }
}

// .card:hover{
//     .iconlist{
//         display: flex;
//     }
// }

.displayArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-top: 50px;
}

.inputTitle{
    overflow-y: hidden;
    letter-spacing: .00625em;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 12px;
    resize: none;
}

.titlearea{
    display: flex;
    flex-direction: row;
}

.description,.inputTitle{
    cursor: default;
    width: 280px;
    overflow-y: hidden;
    resize: none;
    outline: none;
    border: 0;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-weight: 500;
    background-color:transparent;
}

.description{
    letter-spacing: .01785714em;
    font-size: .875rem;
    line-height: 1.25rem;
}

.pin,.unpin{
    cursor: pointer;
}

.pin:hover,.unpin:hover{
    opacity: .71;
}
