a:visited{
    color: mediumblue;
}

.registerCard{
    text-align: center;
    margin-top:3rem;
    width: 600px;
    border: 1px solid lightgray;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    border-radius: 20px;
}

.registerTitle{
    font-display: inherit;
    font-family: 'Segoe UI';
    font-size: 20px;
    color:orangered;
    padding: 0;
}

.registerHead{
    font-size: 15px;
    font: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputPass{
    margin-top: 5px;
}

.inputArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
}

.login{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-left: 50px;
}

.submit{
    margin-top: 30px;
}

.registerButton{
    margin-right: 50px;
    float: right;
    margin-top: 5px;
    width: 120px;
}