
<mat-card class="loginCard">
  <div class="loginTitle">
    <h2>Fundoo Notes</h2>
  </div>
  <div class="loginHead">
    <h3>Login into your Fundoo account</h3>
  </div>
  <form class="inputArea">
    <mat-form-field>
      <input class="" matInput autocomplete="off" placeholder="Email" />
    </mat-form-field>
    
    <mat-form-field class="inputPass">
      <input matInput autocomplete="current-password" placeholder="Password" type="password" />
    </mat-form-field>
  </form>
  <button class="loginButton" mat-raised-button color="primary">Login</button>
</mat-card>